

// Process Parameters:

// Process Parameters for Mask_Primer_MaskPrimers:
params.Mask_Primer_MaskPrimers.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.Mask_Primer_MaskPrimers.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.Mask_Primer_MaskPrimers.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.Mask_Primer_MaskPrimers.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.Mask_Primer_MaskPrimers.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.Mask_Primer_MaskPrimers.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.Mask_Primer_MaskPrimers.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.Mask_Primer_MaskPrimers.fasta =  "false"  //* @checkbox @description:"Check the box to change the ouput to fasta. Default false"
params.Mask_Primer_MaskPrimers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Mask_Primer_MaskPrimers.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.Mask_Primer_MaskPrimers.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.Mask_Primer_MaskPrimers.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.Mask_Primer_MaskPrimers.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.Mask_Primer_MaskPrimers.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.Mask_Primer_MaskPrimers.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.Mask_Primer_MaskPrimers.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.Mask_Primer_MaskPrimers.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for Cluster_UMI_p11:
params.Cluster_UMI_p11.umi_field =  "UMI"  //* @input @description:"The header field annotation to adrres as the UMI sequences."
params.Cluster_UMI_p11.umi_cluster_script =  ""  //* @input @description:"The umi cluster script."

// Process Parameters for Cluster_Sets_cluster_sets:
params.Cluster_Sets_cluster_sets.method =  ["set"]  //* @dropdown @options:"set,all,barcode" @description:"Clustering method." @tooltip:"Set - Cluster sequences within annotation sets.\nAll - Cluster all sequences regardless of annotation.\nBarcode - Cluster reads by clustering barcode sequences"
params.Cluster_Sets_cluster_sets.failed =  ["false"]  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Cluster_Sets_cluster_sets.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Cluster_Sets_cluster_sets.cluster_field =  ["CLUSTER"]  //* @input @description:"The name of the output annotation field to add with the cluster information for each sequence. Default CLUSTER."
params.Cluster_Sets_cluster_sets.ident =  [0.9]  //* @input @description:"The sequence identity threshold to use for clustering. Default 0.9" @tooltip:" Note, how identity is calculated is specific to the clustering application used."
params.Cluster_Sets_cluster_sets.length =  [0]  //* @input @description:"The minimum allowed shorter/longer sequence length ratio allowed within a cluster. Default 0" @tooltip:"Setting this value to 1.0 will require identical length matches within clusters. A value of 0.0 will allow clusters containing any length of substring."
params.Cluster_Sets_cluster_sets.prefix =  [""]  //* @input @description:"A string to use as the prefix for each cluster identifier. By default, cluster identifiers will be numeric values only. Default none"
params.Cluster_Sets_cluster_sets.cluster_tool =  "usearch"  //* @dropdown @options:"usearch,vsearch,cd-hit-est" @description:"The clustering tool to use for assigning clusters. Default usearch" @tooltip:"Must be one of usearch, vsearch or cd-hit-est. Note, for cd-hit-est the maximum memory limit is set to 3GB."
params.Cluster_Sets_cluster_sets.cluster_exec =  ""  //* @input @description:"The name or path of the usearch, vsearch or cd-hit-est executable."
params.Cluster_Sets_cluster_sets.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Cluster_Sets_cluster_sets.set_field =  ["BARCODE"]  //* @input @description:"The annotation field containing annotations, such as UMI barcode, for sequence grouping. Default BARCODE"
params.Cluster_Sets_cluster_sets.start =  [0]  //* @input @desciption:"The start of the region to be used for clustering. Together with end, this parameter can be used to specify a subsequence of each read to use in the clustering algorithm. Default 0"
params.Cluster_Sets_cluster_sets.end =  [""]  //* @input @description:"The end of the region to be used for clustering. Default none"
params.Cluster_Sets_cluster_sets.barcode_field =  ["BARCODE"]  //* @input @description:"The annotation field containing barcode sequences. Default BARCODE"

// Process Parameters for align_sets:
params.align_sets.method =  "muscle"  //* @dropdown @options:"muscle, offset, table" @description:"Align set method. Default muscle (See https://presto.readthedocs.io/ for more details.)" @title:"General params"
params.align_sets.bf =  "UMI"  //* @input @description:"The annotation field containing barcode labels for sequence grouping. Default UMI"
params.align_sets.div =  "false"  //* @checkbox @description:"If specified, calculates nucleotide diversity of each set (average pairwise error rate). Default false" 
params.align_sets.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.align_sets.nproc =  "1"  //* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."
params.align_sets.alignset_script =  ""  //* @input
params.align_sets.alignset_script_batch_size =  100  //* @input
params.align_sets.muscle_exec =  ""  //* @input @description:"The name or location of the muscle executable." title:"Muscle params"
params.align_sets.muscle_version =  ""  //* @input @description:"The muscle version to download and run. Replaces the value of 'muscle_exec'" title:"Muscle params"
params.align_sets.offset_table =  ""  //* @input @description:"The tab delimited file of offset tags and values." @title:"Offset params"
params.align_sets.pf =  "PRIMER"  //* @input @description:"The primer field to use for offset assignment. Default PRIMER"
params.align_sets.mode =  "cut"  //* @dropdown @option:"cut, pad" @description:"Specifies whether or align sequence by padding with gaps or by cutting the 5’ sequence to a common start position. Default cut"
params.align_sets.primer_file =  ""  //* @input @description:"A FASTA file containing primer sequences." @title:"Table params"
params.align_sets.reverse =  "false"  //* @checkbox @description:"If specified create a 3’ offset table instead. Default false" 

// Process Parameters for Pair_Sequence_per_consensus_pair_seq:
params.Pair_Sequence_per_consensus_pair_seq.coord =  "sra"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description: "The format of the sequence identifier which defines shared coordinate information across mate pairs.Default sra (See https://presto.readthedocs.io/en/stable/workflows/Stern2014_Workflow.html for more details.)"
params.Pair_Sequence_per_consensus_pair_seq.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,cat" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The collapse actions to take on all fields copied between files to combine duplicate fields into a single value. The actions <min>, <max>,<sum> perform the corresponding mathematical operation on numeric annotations. The action "set" collapses annotations into a comma delimited list of unique values. The action <cat> concatenates the values together into a single string. Only applies if the field already exists in the header before being copying from the other file."
params.Pair_Sequence_per_consensus_pair_seq.copy_fields_1 =  ""  //* @input @description:"The annotation fields to copy from file 1 records into file 2 records.Default none" @tooltip:"If a copied annotation already exists in a file 2 record, then the annotations copied from file 1 will be added to the front of the existing annotation."
params.Pair_Sequence_per_consensus_pair_seq.copy_fields_2 =  ""  //* @input @description:"The annotation fields to copy from file 2 records into file 1 records.Default none" @tooltip:"If a copied annotation already exists in a file 1 record, then the annotations copied from file 2 will be added to the front of the existing annotation."
params.Pair_Sequence_per_consensus_pair_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Pair_Sequence_per_consensus_pair_seq.nproc =  "1"  //* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."

// Process Parameters for build_consensus:
params.build_consensus.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"
params.build_consensus.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.build_consensus.barcode_field =  "BARCODE"  //* @input @description:"Position of description barcode field to group sequences by. Default BARCODE." @title:"Consensus generation copy fields and actions"
params.build_consensus.primer_field =  ""  //* @input @description:"Specifies the field name of the primer annotations. Default is none." @tooltip:"In most processing pipeline this parameter is set to PRIMER"
params.build_consensus.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,majority" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The actions “min”, “max”, “sum” perform the corresponding mathematical operation on numeric annotations. The action “set” combines annotations into a comma delimited list of unique values and adds an annotation named <FIELD>_COUNT specifying the count of each item in the set. The action “majority” assigns the most frequent annotation to the consensus annotation and adds an annotation named <FIELD>_FREQ specifying the frequency of the majority value."
params.build_consensus.copy_field =  ""  //* @input @description:"Specifies a set of additional annotation fields to copy into the consensus sequence annotations. Default None" @tooltip:"If an action is specified under the <act> paramter, a copy field is needed as well."
params.build_consensus.mincount =  1  //* @input @description:"The minimum number of sequences needed to define a valid consensus. Default is 1" @title:"Consensus generation groups params"
params.build_consensus.minqual =  0  //* @input @description:"Consensus quality score cut-off under which an ambiguous character is assigned. Default value 0." @tooltip:"Does not apply when quality scores are unavailable."
params.build_consensus.minfreq =  0.6  //* @input @description:"Fraction of character occurrences under which an ambiguous character is assigned. Default value 0.6."
params.build_consensus.maxerror =  "none"  //* @input @description:"Maximum allowable error rate. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to calculate the error rate of each read group (rate of mismatches from consensus) and remove groups exceeding the given error threshold. The error rate is calculated against the final consensus sequence, which may include masked positions due to the <minqual> and <minfreq> arguments and may have deleted positions due to the <maxgap> argument. Mutually exclusive with <maxdiv>."
params.build_consensus.prcons =  "none"  //* @input @description:"Minimum primer frequency required. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to define a minimum primer frequency required to assign a consensus primer, and filter out sequences with minority primers from the consensus building step."
params.build_consensus.maxgap =  "none"  //* @input @description:"A cut-off for the frequency allowed gao values for each position. Default is none (A numeric field from 0 to 1)." @tooltip:"If specified, this defines a cut-off for the frequency of allowed gap values for each position. Positions exceeding the threshold are deleted from the consensus. If not defined, positions are always retained. "
params.build_consensus.maxdiv =  "none"  //* @input @description:"Maximum allowable diversity rate. Default is none (A numeric field from 0 to 1)" @tooltip:"Specify to calculate the nucleotide diversity of each read group (average pairwise error rate) and remove groups exceeding the given diversity threshold. Diversity is calculate for all positions within the read group, ignoring any character filtering imposed by the <minqual>, <minfreq> and <maxgap> arguments. Mutually exclusive with <maxerror>."
params.build_consensus.dep =  "false"  //* @checkbox @description:"Check the box to calculate consensus quality with a non-independence assumption. Default false"

// Process Parameters for Assemble_pairs_align_assemble_pairs:
params.Assemble_pairs_align_assemble_pairs.method =  "align"  //* @dropdown @options:"align, sequential, reference, join" @description:"Assembly method. Default align (See https://presto.readthedocs.io/ for more details.)"
params.Assemble_pairs_align_assemble_pairs.coord =  "presto"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description:"The format of the sequence identifier which defines shared coordinate information across mate pairs. Default presto" @title:"General params"
params.Assemble_pairs_align_assemble_pairs.rc =  "tail"  //* @dropdown @options:"tail, head, both, none" @description: "Specify which read to reverse complement before stitching. Default tail"
params.Assemble_pairs_align_assemble_pairs.head_fields_R1 =  "CONSCOUNT"  //* @input @description:"Annotation fields to copy from R1 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT"
params.Assemble_pairs_align_assemble_pairs.head_fields_R2 =  "CONSCOUNT PRCONS"  //* @input @description:"Annotation fields to copy from R2 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT PRCONS"
params.Assemble_pairs_align_assemble_pairs.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. Default false" @tooltip:"Specify to output the failed sequences as well."
params.Assemble_pairs_align_assemble_pairs.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"
params.Assemble_pairs_align_assemble_pairs.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Assemble_pairs_align_assemble_pairs.alpha =  0.00001  //* @input @description:"Significance threshold for de novo paired-end assembly. Default 1e-05" @title:"De novo assembly arguments"
params.Assemble_pairs_align_assemble_pairs.maxerror =  0.3  //* @input @description:"Maximum allowable error rate for de novo assembly. Default 0.3"
params.Assemble_pairs_align_assemble_pairs.minlen =  8  //* @input @description:"Minimum sequence length to scan for overlap in de novo assembly. Default 8"
params.Assemble_pairs_align_assemble_pairs.maxlen =  1000  //* @input @description:"Maximum sequence length to scan for overlap in de novo assembly. Default 1000"
params.Assemble_pairs_align_assemble_pairs.scanrev =  "false"  //* @checkbox @description:"If specified, scan past the end of the tail sequence in de novo assembly to allow the head sequence to overhang the end of the tail sequence. Default false"
params.Assemble_pairs_align_assemble_pairs.minident =  0.5  //* @input @description:"Minimum identity of the assembled sequence required to call a valid reference guided assembly (between 0 and 1). Default 0.5"
params.Assemble_pairs_align_assemble_pairs.evalue =   0.00001  //* @input @description:"Minimum E-value for reference alignment for both the head and tail sequence. Default 1e-05"
params.Assemble_pairs_align_assemble_pairs.maxhits =  100  //* @input @description:"Maximum number of hits from the reference alignment to check for matching head and tail sequence assignments. Default 100"
params.Assemble_pairs_align_assemble_pairs.fill =  "false"  //* @checkbox @description:"Check the box to change the behavior of inserted characters when the head and tail sequences do not overlap during reference guided assembly. Default: False" @tolltip:"If specified, this will result in inserted of the V region reference sequence instead of a sequence of Ns in the non-overlapping region. Warning: you could end up making chimeric sequences by using this option."
params.Assemble_pairs_align_assemble_pairs.aligner =  "blastn"  //* @dropdown @options:"blastn, usearch" @description:"The local alignment tool to use. Must be one blastn (blast+ nucleotide) or usearch (ublast algorithm). Default blastn"
params.Assemble_pairs_align_assemble_pairs.// align_exec =  ""   //* @input @description:"The name or location of the aligner executable file (blastn or usearch). Defaults to the name specified by the aligner argument. Default: None"
params.Assemble_pairs_align_assemble_pairs.// dbexec =  ""   //* @input @description:"The name or location of the executable file that builds the reference database. This defaults to makeblastdb when blastn is specified to the aligner argument, and usearch when usearch is specified. Default None"
params.Assemble_pairs_align_assemble_pairs.gap =  0  //* @input @description:"Number of N characters to place between ends. Default 0" @title:"join assembly arguments"
params.Assemble_pairs_align_assemble_pairs.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Assemble_pairs_align_assemble_pairs.assemble_reference =  ''   //* @file @optional @description:"local path The assemble_reference file"
params.Assemble_pairs_align_assemble_pairs.head_seqeunce_file =  "R1"  //* @dropdown @options:"R1, R2" @description:"file containing head/primary sequences"

// Process Parameters for Assemble_pairs_align_parse_log_AP:
params.Assemble_pairs_align_parse_log_AP.field_to_parse =  "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2" //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for Assemble_pairs_reference_assemble_pairs:
params.Assemble_pairs_reference_assemble_pairs.method =  "align"  //* @dropdown @options:"align, sequential, reference, join" @description:"Assembly method. Default align (See https://presto.readthedocs.io/ for more details.)"
params.Assemble_pairs_reference_assemble_pairs.coord =  "presto"  //* @dropdown @options:"illumina, solexa, sra, 454, presto" @description:"The format of the sequence identifier which defines shared coordinate information across mate pairs. Default presto" @title:"General params"
params.Assemble_pairs_reference_assemble_pairs.rc =  "tail"  //* @dropdown @options:"tail, head, both, none" @description: "Specify which read to reverse complement before stitching. Default tail"
params.Assemble_pairs_reference_assemble_pairs.head_fields_R1 =  "CONSCOUNT"  //* @input @description:"Annotation fields to copy from R1 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT"
params.Assemble_pairs_reference_assemble_pairs.head_fields_R2 =  "CONSCOUNT PRCONS"  //* @input @description:"Annotation fields to copy from R2 file head records into assembled record. Input should be seperated by space. Default CONSCOUNT PRCONS"
params.Assemble_pairs_reference_assemble_pairs.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. Default false" @tooltip:"Specify to output the failed sequences as well."
params.Assemble_pairs_reference_assemble_pairs.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"
params.Assemble_pairs_reference_assemble_pairs.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.Assemble_pairs_reference_assemble_pairs.alpha =  0.00001  //* @input @description:"Significance threshold for de novo paired-end assembly. Default 1e-05" @title:"De novo assembly arguments"
params.Assemble_pairs_reference_assemble_pairs.maxerror =  0.3  //* @input @description:"Maximum allowable error rate for de novo assembly. Default 0.3"
params.Assemble_pairs_reference_assemble_pairs.minlen =  8  //* @input @description:"Minimum sequence length to scan for overlap in de novo assembly. Default 8"
params.Assemble_pairs_reference_assemble_pairs.maxlen =  1000  //* @input @description:"Maximum sequence length to scan for overlap in de novo assembly. Default 1000"
params.Assemble_pairs_reference_assemble_pairs.scanrev =  "false"  //* @checkbox @description:"If specified, scan past the end of the tail sequence in de novo assembly to allow the head sequence to overhang the end of the tail sequence. Default false"
params.Assemble_pairs_reference_assemble_pairs.minident =  0.5  //* @input @description:"Minimum identity of the assembled sequence required to call a valid reference guided assembly (between 0 and 1). Default 0.5"
params.Assemble_pairs_reference_assemble_pairs.evalue =   0.00001  //* @input @description:"Minimum E-value for reference alignment for both the head and tail sequence. Default 1e-05"
params.Assemble_pairs_reference_assemble_pairs.maxhits =  100  //* @input @description:"Maximum number of hits from the reference alignment to check for matching head and tail sequence assignments. Default 100"
params.Assemble_pairs_reference_assemble_pairs.fill =  "false"  //* @checkbox @description:"Check the box to change the behavior of inserted characters when the head and tail sequences do not overlap during reference guided assembly. Default: False" @tolltip:"If specified, this will result in inserted of the V region reference sequence instead of a sequence of Ns in the non-overlapping region. Warning: you could end up making chimeric sequences by using this option."
params.Assemble_pairs_reference_assemble_pairs.aligner =  "blastn"  //* @dropdown @options:"blastn, usearch" @description:"The local alignment tool to use. Must be one blastn (blast+ nucleotide) or usearch (ublast algorithm). Default blastn"
params.Assemble_pairs_reference_assemble_pairs.// align_exec =  ""   //* @input @description:"The name or location of the aligner executable file (blastn or usearch). Defaults to the name specified by the aligner argument. Default: None"
params.Assemble_pairs_reference_assemble_pairs.// dbexec =  ""   //* @input @description:"The name or location of the executable file that builds the reference database. This defaults to makeblastdb when blastn is specified to the aligner argument, and usearch when usearch is specified. Default None"
params.Assemble_pairs_reference_assemble_pairs.gap =  0  //* @input @description:"Number of N characters to place between ends. Default 0" @title:"join assembly arguments"
params.Assemble_pairs_reference_assemble_pairs.usearch_version =  "11.0.667"  //* @input @description:"The usearch version to download and run. Default 11.0.667"
params.Assemble_pairs_reference_assemble_pairs.assemble_reference =  ''   //* @file @optional @description:"local path The assemble_reference file"
params.Assemble_pairs_reference_assemble_pairs.head_seqeunce_file =  "R1"  //* @dropdown @options:"R1, R2" @description:"file containing head/primary sequences"

// Process Parameters for split_seq:
params.split_seq.field =  "CONSCOUNT"  //* @input @description: "Annotation field to split sequence files by. Default CONSCOUNT. "
params.split_seq.num =  2  //* @input @description: "Specify to define the split field as numeric and group sequences by value. Default 2."
params.split_seq.fasta =  "true"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"

// Process Parameters for split_constant:
params.split_constant.split_col = "PRIMER"  //* @input @description:'The field on which to split the sequences'

// Process Parameters for Assemble_pairs_reference_parse_log_AP:
params.Assemble_pairs_reference_parse_log_AP.field_to_parse =  "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2" //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for metadata:
params.metadata.metadata =  ""  //* @input @description:"json file containing the tools and dockers"

// Pipeline Config:
$HOSTNAME='default'

rocess.container = 'immcantation/suite:4.3.0'
docker.enabled = true

process {
  cpus = 24
}